# Multiple Choice Questions

[1]. What is the output for L1+L2 if:
    L1 = [x for x in range(1,5)]
    L2 = [x for x in range(5,9)] 
    
    a. [1, 2, 3, 4, 5, 5, 6, 7, 8, 9]
    b. [6, 8, 10, 12]
    c. [1, 2, 3, 4, 5, 6, 7, 8]
    d. [1, 2, 3, 4, 5, 6, 7, 8, 9]
    
    
[2]. Select the dictionary that best represents a data sequence and supported commands by its key and values:

    a. {'Stack': ['pop()', append()], 'Deque': ['popleft()', 'append()'], 'Queue': ['pop()', 'popleft()', 'append()', 'appendleft()']}
    
    b. {'Stack': ['pop()', append()], 'Deque': ['pop()', 'popleft()', 'append()', 'appendleft()'], 'Queue': ['popleft()', 'append()']}
    
    c. {'Stack': ['popleft()', 'append()'], 'Deque': ['pop()', 'popleft()', 'append()', 'appendleft()'], 'Queue': ['pop()', append()]}
    
    d. {'Stack': ['pop()', 'popleft()', 'append()', 'appendleft()'], 'Deque': ['popleft()', 'append()'], 'Queue': ['pop()', append()]}

# True and False Questions

[1]. What will the output of the print function be?

    l1_np = np.array([x for x in range(1,5)]) 
    l2_np = np.array([x for x in range(5,9)]) 
    print((l2_np + l1_np == [ 6,  8, 10, 12]))
    
    a. True
    b. False
    
    
[2]. Out of the three sequence data structures described in question 2 from the multiple choice questions, Queque is the only that canbe imported from the collections library.

    a. True
    b. False

# Short Answer Questions

[1]. Retrieveing data from the web

In [ ]:
# Import pandas as pd and urlretrieve from urllib.request
_______________________________
_______________________________

# Using the url, retrieve data as a csv file named 'wine_quality.csv'
url = 'https://assets.datacamp.com/production/course_1606/datasets/winequality-red.csv'

urlretrieve(___, 'wine_quality.csv')

# Read the 'wine_quality.csv' as a data frame separated by ';'
__________________________________

# print the first 5 values of the data frame
___________________________________

[2]. Data web scrapping. In this exercise you will scrape AAPL stock price from yahoo Finance.

In [ ]:
# Import 'BeautifulSoup' as BS from the library 'bs4' and 'HTML' from 'IPython.display'
import requests
_______________________________
_______________________________

url = 'https://finance.yahoo.com/quote/AAPL/history?p=AAPL'

In [ ]:
# use 'requests.get' to link the url and save as req 
url = 'https://finance.yahoo.com/quote/AAPL/history?p=AAPL'
req = requests.get(url)
soup = BS(req.text, 'html.parser')

# table information stored as table
tables = soup.find_all('table')

# use 'HTML' function to display the table
____(str(tables))

In [ ]:
# Data Lake setup
rows = [row for row in tables[0].find_all('tr')]


col_names = [col.get_text().strip().lower() for col in rows[0].find_all('th')]


value_rows = [ [ col.get_text() for col in row.find_all('td') ] for row in rows[1:] if len(row)==7]

value_series =list(zip(*value_rows))

# Zip 'col_names' and 'value_series' into a dictionary
_______________________________________________

# Convert the dictionary into a data frame
_______________________________

# use the column 'date' to index the data frame
____________________________

# print the first 5 observations of the new data frame
________________________________________

# Task on a Data Mini Set

# Answers

### Multiple Choice Questions

1. (c)
2. (b)

### True and False Questions

1. (a)
2. (b)

### Short Answer Questions

1. Retrieveing data from the web

In [20]:
# Import pandas as pd and urlretrieve from urllib.request
from urllib.request import urlretrieve
import pandas as pd

# Using the url, retrieve data as a csv file named 'wine_quality.csv'
url = 'https://assets.datacamp.com/production/course_1606/datasets/winequality-red.csv'

urlretrieve(url, 'wine_quality.csv')

# Read the 'wine_quality.csv' as a data frame separated by ';'
df = pd.read_csv('wine_quality.csv', sep=';')

# print the first 5 values of the data frame
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

2. Data Web Scrapping

In [100]:
# Libraries load
import requests
from bs4 import BeautifulSoup as BS
from IPython.display import HTML

# Data web request
url = 'https://finance.yahoo.com/quote/AAPL/history?p=AAPL'
req = requests.get(url)

# Soup creation
soup = BS(req.text, 'html.parser')

# Table extraction
tables = soup.find_all('table')

# Data lake setup
rows = [row for row in tables[0].find_all('tr')]

# Columns names extraction
colheads = [col.get_text().strip().lower() for col in rows[0].find_all('th')]

# Observations
value_rows = [ [ col.get_text() for col in row.find_all('td') ] for row in rows[1:] if len(row)==7]
value_series =list(zip(*value_rows))
data_dict = dict(zip(colheads,value_series))
df = pd.DataFrame(data_dict)
df.index = df.date
df.head()

,date,open,high,low,close*,adj close**,volume
date,,,,,,,
"Nov 19, 2018","Nov 19, 2018",190.00,190.70,184.99,185.86,185.86,"41,356,195"
"Nov 16, 2018","Nov 16, 2018",190.50,194.97,189.46,193.53,193.53,"36,208,500"
"Nov 15, 2018","Nov 15, 2018",188.39,191.97,186.90,191.41,191.41,"46,478,800"
"Nov 14, 2018","Nov 14, 2018",193.90,194.48,185.93,186.80,186.80,"60,801,000"
"Nov 13, 2018","Nov 13, 2018",191.63,197.18,191.45,192.23,192.23,"46,882,900"